<div class="container">
  <h1>{{ title() }}</h1>
  
  <div class="add-todo">
    <input 
      [(ngModel)]="newTodoText" 
      placeholder="Add a new todo..." 
      (keyup.enter)="addTodo()">
    <button (click)="addTodo()" [disabled]="loading">Add</button>
  </div>

  <div *ngIf="loading" class="loading">Loading...</div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos; trackBy: trackByTodoId">
      <div class="todo-item" [class.completed]="todo.is_completed">
        <input 
          type="checkbox" 
          [checked]="todo.is_completed" 
          (change)="updateTodo(todo)">
        
        <ng-container *ngIf="editingId === todo.id; else viewMode">
          <input 
            [(ngModel)]="editingTask" 
            (keyup.enter)="saveEdit(todo.id)" 
            (blur)="saveEdit(todo.id)">
          <button (click)="cancelEditing()">Cancel</button>
        </ng-container>
        
        <ng-template #viewMode>
          <span class="todo-text">{{ todo.text }}</span>
          <span class="todo-date">{{ formatDate(todo.inserted_at) }}</span>
        </ng-template>
        
        <button (click)="startEditing(todo)">Edit</button>
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </div>
    </li>
  </ul>

  <div class="stats">
    Completed: {{ completedTodos }} / Total: {{ totalTodos }}
  </div>

  <app-notification></app-notification>
</div>
